.button {
  position: relative;
  z-index: 1;
  border: none;
  padding: 0.5rem 1.5rem;
  color: white;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  outline: none;
  background-color: #599900;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #477b00;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    &::before {
      transform-origin: center left;
      transform: scaleX(1);
    }
  }
}
