.container {
  margin: 1rem;
  border: solid 1px #aaa;
  padding: 1rem 2.5rem 2rem;

  background-color: #fff;
  box-shadow: #aaa 0px 1px 3px;

  .title {
    display: flex;
    align-items: center;
    font-family: 'Proza Libre', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;

    svg {
      display: inline;

      margin-right: 0.5rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    div {
      margin-bottom: 0.75rem;
      min-width: 100%;
    }

    .passRequirements {
      width: 100%;
      margin: -5px 0 5px;
      font-size: 0.75rem;
      color: #888;
    }

    button {
      width: 100%;
    }
  }

  .navigation {
    margin-top: 1rem;
    padding-top: 0.25rem;
    border-top: 1px solid grey;
    width: 100%;
    align-self: flex-start;
    font-size: 0.9rem;

    a {
      color: #599900;
      text-decoration: underline;

      transition: 0.25s all ease;

      &:hover {
        color: #518c00;
      }
    }
  }
}

/* Media Queries
======================================*/

@media screen and (min-width: 760px) {
  .container {
    max-width: 650px;
    margin: 5rem auto 0;
    padding: 1rem 7.5rem 2rem;

    .title {
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: 1140px) {
  .container {
    max-width: 800px;
    margin: 5rem auto 0;

    .title {
      font-size: 4rem;
    }

    button {
      padding: 0.6rem 0.5rem;
    }
  }
}
