@import '../../App.scss';

.container {
  margin: 1rem;
  border: solid 1px #aaa;
  padding: 1rem 0.5rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;

  background-color: #fff;
  box-shadow: #aaa 0px 1px 3px;

  .title {
    display: flex;
    align-items: center;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;

    svg {
      display: inline;

      margin-right: 0.5rem;
    }
  }

  .inputWrapper {
    margin-bottom: 0.75rem;
    max-width: 80%;

    display: flex;
    flex-flow: column nowrap;

    min-width: 80%;

    label {
      margin-bottom: 0.25rem;

      font-weight: bold;
    }

    input {
      border-color: rgba(34, 36, 38, 0.15);
      border-radius: 5px;
      padding: 0.25rem;

      &:focus {
        border: 2px solid $accent-color;
      }
    }

    .passRequirements {
      font-size: 0.75rem;
      color: #888;
    }
  }

  button {
    margin-bottom: 0.5rem;
    border: 1px solid $accent-color;
    border-radius: 5px;
    padding: 0.4rem;
    min-width: 80%;

    color: #fff;
    font-weight: bold;

    background-color: $accent-color;

    cursor: pointer;
    transition: 0.25s all ease;

    &:hover {
      background-color: #518c00;
    }
  }

  .navigation {
    a {
      font-size: 1.1rem;
      color: #599900;
      text-decoration: underline;

      transition: 0.25s all ease;

      &:hover {
        color: #518c00;
      }
    }
  }
}

@media screen and (min-width: 760px) {
  .container {
    margin: 2rem 5rem;

    .title {
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: 1140px) {
  .container {
    max-width: 40%;
    margin: 5rem auto;

    .title {
      font-size: 4rem;
    }

    button {
      padding: 0.6rem 0.5rem;
    }
  }
}
