@import '../../App.scss';

.container {
  position: relative;
  height: 100%;

  header {
    height: 10%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      letter-spacing: 1px;
      font-family: 'Roboto Condense', Arial, Helvetica, sans-serif;
      font-size: 1.75rem;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      .btnText {
        display: none;
      }
    }
  }

  .cardsContainer {
    height: 90%;
    overflow-y: auto;

    .newGroupCard {
      margin: 1rem;
      border: none;
      padding: 1rem 0;
      width: calc(100% - 2rem);
      background-color: #599900;
      box-shadow: #aaa 0px 0px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.25s ease;

      &:hover {
        background-color: #477b00;
      }
    }
  }

  form {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    div {
      margin-bottom: 0.75rem;
      min-width: 100%;
    }

    .passRequirements {
      width: 100%;
      margin: -5px 0 5px;
      font-size: 0.75rem;
      color: #888;
    }

    button {
      width: 100%;
      margin-bottom: 0.75rem;

      &:nth-of-type(2) {
        color: #000;
        background-color: #e0e1e2;

        &::before {
          background-color: #cacbcd;
        }
      }
    }
  }
}

/* Media Queries
======================================*/

@media screen and (min-width: 760px) {
  .container {
    padding: 1rem;

    form {
      min-width: 275px;
    }

    header {
      h1 {
        font-size: 2.5rem;
      }

      button {
        padding: 0.5rem 1rem;

        .btnText {
          display: inline;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
