@import '../../App.scss';

.container {
  position: relative;

  .showModalOverlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;

    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s ease;
  }

  .hideModalOverlay {
    position: fixed;
    visibility: hidden;
    opacity: 0;
  }

  .modal {
    border: solid 1px #aaa;
    padding: 1rem 0.5rem;
    min-width: 275px;
    width: 50%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;

    background-color: #fff;
    box-shadow: #222 0px 1px 3px;

    .title {
      font-size: 1.5rem;
      font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    }

    p {
      text-align: center;
    }

    .inputWrapper {
      margin-bottom: 0.75rem;

      display: flex;
      flex-flow: column nowrap;

      min-width: 50%;

      label {
        display: none;
      }

      input,
      textarea {
        border: none;
        border-bottom: 2px solid rgba(34, 36, 38, 0.15);
        padding: 0.25rem;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-size: 0.9rem;

        resize: none;
        transition: 0.25s ease all;

        &:focus {
          border-bottom: 2px solid $accent-color;
        }

        &:required:invalid {
          outline: none;
        }
      }
    }

    button {
      margin-bottom: 0.5rem;
      border: 1px solid $accent-color;
      border-radius: 5px;
      padding: 0.4rem;
      min-width: 80%;

      color: #fff;
      font-weight: bold;

      background-color: $accent-color;

      cursor: pointer;
      transition: 0.25s all ease;

      &:hover {
        background-color: #518c00;
      }

      &.grey {
        border: 1px solid #bbb;
        background-color: #e0e1e2;
        color: #000;

        &:hover {
          background-color: #cacbcd;
        }
      }
    }
  }
}

.weekContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr repeat(7, 1fr);

  .labelContainer {
    display: grid;
    grid-template-rows: repeat(25, 1fr);

    .label {
      border-top: 1px solid #000;
      color: #5a8dbc;
      font-size: 1rem;
      text-align: right;
    }
  }

  .weekDayContainer {
    display: grid;
    grid-template-rows: repeat(25, 1fr);

    .title {
      border-width: 0 1px;
      border-style: solid;
      border-color: #000;

      font-size: 0.75rem;
      text-align: center;
      text-transform: uppercase;

      background-color: lightgreen;
    }
  }
}
