.container {
  margin: 1rem;
  border: solid 1px #aaa;
  padding: 1rem 2.5rem 2rem;

  background-color: #fff;
  box-shadow: #aaa 0px 1px 3px;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      margin-right: 0.5rem;
    }
  }

  .subtitle {
    margin: 0.5rem auto;
    font-family: 'Proza Libre', Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
  }

  .groupContainer {
    display: flex;
    flex-direction: column;

    .name,
    .location,
    .description {
      margin-bottom: 0.5rem;
    }

    .description {
      color: #333;
      font-size: 0.9rem;
    }
  }

  button:last-of-type {
    width: 100%;
    margin-bottom: 0.75rem;
    color: #000;
    background-color: #e0e1e2;

    &::before {
      background-color: #cacbcd;
    }
  }

  form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    .subtitle {
      margin: 0.5rem auto;
      font-family: 'Proza Libre', Arial, Helvetica, sans-serif;
      font-size: 1.25rem;
    }

    div {
      margin-bottom: 0.75rem;
      min-width: 100%;
    }

    .passRequirements {
      width: 100%;
      margin: -5px 0 5px;
      font-size: 0.75rem;
      color: #888;
    }

    button {
      width: 100%;
      margin-bottom: 0.75rem;
    }

    &:last-of-type {
      button {
        width: 100%;
        margin-bottom: 0.75rem;
        color: #fff;
        background-color: #db2828;

        &::before {
          background-color: #d01919;
        }
      }
    }
  }
}

/* Media Queries
======================================*/

@media screen and (min-width: 760px) {
  .container {
    max-width: 650px;
    margin: 5rem auto 0;
    padding: 1rem 7.5rem 2rem;

    .title {
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: 1140px) {
  .container {
    max-width: 800px;
    margin: 5rem auto;

    .title {
      font-size: 4rem;
    }

    button {
      padding: 0.6rem 0.5rem;
    }
  }
}
